extends layout

block content
	a(href="/users") Retour à la liste
	h1 #{user.name ? 'Edit user' : 'Add user'}
	form(name="add-user", method="post", action="/users/#{user.name || '' }")
		div.input
			span.label Name:
			input(type="text", name="name", value="#{user.name || '' }")
		div.input
			span.label Firstname:
			input(type="text", name="firstname", value="#{user.firstname || '' }")
		div.input
			span.label Age:
			input(type="text", name="age", value="#{user.age || '' }")
		div
			input(type="submit", value="OK")
		