extends layout

block content
	h1 User list
	table
		tr 
			td!= "<strong>First Name</strong>"
			td!= "<strong>Last Name</strong>"
			td!= "<strong>Age</strong>"
		- 
			each user in users
				tr
					td= user.name
					td= user.firstname
					td= user.age
					td
						a(href="/users/edit/#{user.name}") Edit | 
						a(href="/users/delete/#{user.name}") Del